app-accordion {
  background-color: #efefef;
}

app-accordion > article > .header {
  cursor: pointer;
  padding: 20px;
  background-color: #bdbdbd;
}

app-accordion > article > .content {
  padding: 20px;
}
